@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-track {
  background: #1e1e2e;
}
::-webkit-scrollbar-thumb {
  background: #393a4b;
  border: .25em solid #1e1e2e;
  border-radius: 10px;
  transition: background 1s;
}
::-webkit-scrollbar-thumb:hover {
  background: #3D3853;
  border-radius: 10px;
}

uwu{
  background-image: url("https://avatars.githubusercontent.com/u/106713009?v=4");
  background-size: cover;
}

@layer utilities{
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #1E1E2E;
  }

  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #262632;
    border-radius: 100vh;
    border: 0px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1C1C20;
  }
}

html{
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  color: aliceblue;
  background: #000000;
}